@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    
}
a {
    text-decoration: none;
    color: aliceblue;
}

/* Navbar */

.navbar {
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 6px 6px;
}
.navbar a {
    position:relative;
    z-index: 1;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.navbar a:hover {
    color: #5e400a;
  }
  .navbar a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
 .navbar a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
#w, #p {
    font-size: 1.5em;
    padding: 10px 15px;
}

.dropdown-menu.show {
    background-color: black;
}

/* Header */

.header {
    position: relative;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    display:  flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255,255,255,0) 100%);
    color: #fff;
    font-weight: 700;
}
.header video {
    top: 0;
    bottom: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
}
.text {
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0,0,0,0.9) 100%);
}
.text h1 {
    font-size: 4.5em;
    font-weight: 700;
    padding: 20px 0;
}
.text h2 {
    font-size: 3.5em;
    font-weight: 600;
    padding: 10px 0;
}
.text h3 {
    font-size: 2.5em;
    padding: 5px 0;
}

/* Servicios */

.servicios {
    width: 100%;
    box-shadow: 4px 8px 16px #111;
    padding: 50px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.servicios h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
}
.servicios .container {
    margin: 20px auto;

}
.servicios .row {
    align-items: center;
}
.servicios .card {
    
    justify-content: space-around;
    padding: 20px;
    border-radius: 0 17px 17px 17px;
    border: none;
    box-shadow: 2px 2px 10px rgba(29, 29, 29, 0.5);
}
.servicios .card i {
    position: absolute;
    background-color: rgb(53, 53, 53);
    top: -15px;
    left: -15px;
    color: rgb(255, 255, 0);
    font-size: 2em;
    padding: 10px;
    border-radius: 6px 6px 0 6px;
    border: none;
    transition: all 0.7s;
}
.servicios .card:hover i {
    border-radius: 6px 6px 6px 6px;
    transform: translateY(-15px);
    transition: all 0.7s;
}
.servicios .card h3 {

    padding: 15px;
}
.sercivios .card p {
    padding: 20px;
}

/* Nosotros */

.nosotros {
    background-color: #fff;
}
.nosotros h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding: 30px;
}
.nosotros p a {
    text-decoration: none;
    color: #111;
}
.nosotros img {
    margin: auto;
}        
.nosotros p {
    color: #111;
    margin: 35px auto;
    padding: 10px;
}

/* Metales */

.metales {
    background-color: #fff;

}
.metales h2 {
    padding: 40px;
}
.metales .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.metales .circle {
    border: none;  
    margin: 50px;
    width: 150px;
    height: 150px;
}

.metales .circle img {
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 20px;
}
#CC {
    width: 70px;
    height: 130px;
    margin: auto 20px;
}

/* Contacto */

.contacto {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
    color: #fff;
    margin: auto;
}
.contacto h2 {
    margin: 20px;
    padding: 20px;
}
.contacto .col-sm .row  {
    text-align: center;
    justify-content: center;
}
.contacto .col-sm .row a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 2em;
    width: max-content;
    transition: 0.7s ease-in-out;
}
.contacto .col-sm .row a:hover {
    color: rgb(171, 183, 238);
    transform: translateY(-10px);
    transition: 0.7s ease-in-out;
}
.contacto .card {
    border-radius: 17px;
    color: #222;
    margin: 45px auto;
    padding: 20px;
    box-shadow: 2px 4px 16px rgb(0, 0, 0);
}
.introduction {
    position: relative;
    width: 100%;
    height: 70vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #fff;
}
.introduction h2 {
    color: #222;

}
.introduction p {
    color: #222;
}

/* Footer */

.footer {    
    position: relative;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    box-shadow: 2px 4px 16px #222;
    padding: 20px;
}
.footer .row {
    padding: 20px;
    margin: 10px; 
}

.footer a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    margin: 10px auto;
    padding: 5px;
    font-size: 22px;  
}
.footer i {
    font-size: 22px;
    margin-right: 7px;
}
iframe {
    border-radius: 6px;
}
th, td {
    color: #fff;
}
.copy a {
    font-size: 12px;
}


@media (max-width: 700px) {
    .text {
        justify-self: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .text h1 {
        font-size: 3.5em;
    }
    .text h2 {
        font-size: 2.5em;
    }
    .text h3 {
        font-size: 2.5em;
    }
     
}

@media (max-width: 400px) {
    .nosotros img {
        margin: 0;
        width: 300px;
    }
}